# ENV
.env
**/.env

# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/
.conda/

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# ChromaDB
backend/data/chromadb/

# Uploaded Files
backend/data/uploads/

# Logs
*.log